{% extends "base.html" %}

{% block title %}Nuevo Tratamiento{% endblock %}

{% block content %}
<h1 class="mb-4 text-success">Agregar Nuevo Tratamiento</h1>

<form method="POST">
    {{ form.hidden_tag() }}

    <div class="mb-3">
        {{ form.historia_clinica.label(class="form-label") }}
        {{ form.historia_clinica(class="form-select") }}
    </div>

    <div class="mb-3">
        {{ form.nombre.label(class="form-label") }}
        {{ form.nombre(class="form-control") }}
    </div>

    <div class="mb-3">
        {{ form.descripcion.label(class="form-label") }}
        {{ form.descripcion(class="form-control") }}
    </div>

    <button type="submit" class="btn btn-primary">Guardar</button>
    <a href="{{ url_for('tratamientos') }}" class="btn btn-secondary">Cancelar</a>
</form>
{% endblock %}
